@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');

h1 {
  font-family: 'Bellefair', serif;
  font-size: 150px;
  color: #FFFFFF;
} 
h2 {
  font-family: 'Bellefair', serif;
  font-size: 100px;
  color: #FFFFFF;
}
h3 {
  font-family: 'Bellefair', serif;
  font-size: 56px;
  color: #FFFFFF;
}
h4 {
  font-family: 'Bellefair', serif;
  font-size: 32px;
  color: #FFFFFF;
}
h5 {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 25px;
  font-kerning: 4.75;
  color: #D0D6F9;
}
#subheading1 {
  font-family: 'Bellefair', serif;
  font-size: 28px;
  color: #FFFFFF;
}
#subheading2 {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 14px;
  font-kerning:2.35;
  color: #FFFFFF;
}
#navText {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 16px;
  font-kerning: 2.7;
  color: #FFFFFF;
}
p {
  font-family: 'Bellefair', serif;
  color: #D0D6F9;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#HomeBkg {
  background-image: url('./static/home/background-home-desktop.jpg');
  height: 100vh;
}
#HomeWrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#CrewBkg {
  background-image: url('./static/crew/background-crew-desktop.jpg');
  height: 100vh;
}
#TechBkg {
  background-image: url('./static/technology/background-technology-desktop.jpg');
  height: 100vh;
}
#DestBkg {
  background-image: url('./static/destination/background-destination-desktop.jpg');
  height: 100vh;
}
#navBarWrap {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-top: 2%;
}
#navBarLinks {
  background-blend-mode: lighten;
  backdrop-filter: blur(20px);
  width: 40%;
}
#navBarWrap ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
#navBarWrap ul a {
  text-decoration: none;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 16px;
  font-kerning: 2.7;
  color: #FFFFFF;
}
#navBarWrap ul a:Hover {
  text-decoration: underline;
}
#navBarWrap ul a:Active {
  text-decoration: underline;
  color: white;
}
#ExploreCircle {
  background: #FFFFFF;
  border-radius:50%;
  width: 225%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#ExploreCircle a h4  {
  color: black;
}